# ================= WiFi Configuration =================
WIFI_SSID=your_network_ssid
WIFI_PASSWORD=your_network_password

# ================= Network Configuration =================
ESP_LOCAL_IP=your_esp_ip_address
GATEWAY_IP=your_gateway_ip
SUBNET_MASK=your_subnet_mask

# ================= MQTT Configuration =================
MQTT_SERVER=your_mqtt_server (same as your local ip address in a normal setup)
MQTT_PORT=your_mqtt_port (default is 1883)
MQTT_CLIENT_ID=ESP8266_Client

# ================= MQTT Topics =================
MQTT_TOPIC_STATUS=iot/status
MQTT_TOPIC_TEMP=iot/weather/temp
MQTT_TOPIC_HUM=iot/weather/hum

# ================= Sensor Configuration =================
SENSOR_I2C_ADDRESS=0x45 (default for SHT31/30 , try 0x44 if you have issues)
SDA_PIN=D2 
SCL_PIN=D1

# ================= Serial Configuration =================
BAUD_RATE=115200 
